.bot-selectionPage-container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.botPage-card-component{
    height: 65%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.botCards {
    height: 100%;
    width: 26%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1rem;
    position: relative; /* Ensure the pseudo-element is positioned correctly */
    overflow: hidden; /* Clip the pseudo-element to the card boundaries */
}

.botCards::before {
    z-index: -1;
    content: '';
    position: absolute;
    top: var(--y, 50%);
    left: var(--x, 50%);
    width: 300%;
    height: 300%;
    background: radial-gradient(circle, rgb(138, 138, 146) 0%, rgba(0, 123, 255, 0) 70%);
    transform: translate(-50%, -50%) scale(var(--scale, 0));
    transition: transform 0.5s ease;
    pointer-events: none;
    border-radius: 50%; /* Make sure the gradient is circular */
}

.bot-title{
    font-size: 1.5rem;
    font-weight: 600;
}
.bot-image{
    height: 50%;
    width: 100%;
}
.bot-image img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.bot-description{
    text-align: center;
}