.fifth-page-container {
    height: 500vh;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
}

.fifthpage-object-container {
    height: 25rem;
    width: 100%;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fifthpage-object {
    height: 25rem;
    width: 25rem;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
}

.fifthpage-object {
    height: 25rem;
    width: 25rem;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.fifthpage-object span {
    position: absolute;
    height: 50%;
    width: 50%;
    top: 0;
    left: 50%;
    transform-origin: 0 100%;
    /* Adjust the color as needed */
    clip-path: polygon(0 0, 100% 0, 0% 100%);
}

#s15 {
    transform: rotate(0deg);
    background-color: red;
}

#s25 {
    transform: rotate(45deg);
    background-color: green;
}

#s35 {
    transform: rotate(90deg);
    background-color: blue;

}

#s45 {
    transform: rotate(135deg);
    background-color: yellow;
}

#s55 {
    transform: rotate(180deg);
    background-color: orange;
}

#s65 {
    transform: rotate(225deg);
    background-color: white;
}

#s75 {
    transform: rotate(270deg);
    background-color: pink;
}

#s85 {
    transform: rotate(315deg);
    background-color: violet;
}