.fifth-page-container {
    height: 400vh;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    box-sizing: border-box;
    padding: 1rem;
}

.fifthpage-object-container {
    height: 25rem;
    width: 100%;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: end;
}

.fifthpage-object {
    height: 25rem;
    width: 25rem;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 4rem;
}
.pseudo-circle{
    height: 100%;
    width: 100%;
    background-color: var(--grey);
    border-radius: 50%;
}
.fifthpage-object {
    height: 25rem;
    width: 25rem;
    position: relative;
    border-radius: 50%;
    overflow: visible;
}

.fifthpage-object span {
    position: absolute;
    height: 50%;
    width: 50%;
    top: 0;
    left: 50%;
    transform-origin: 0 100%;
    /* Adjust the color as needed */
    clip-path: polygon(0 0, 100% 0, 0% 100%);
}

#s15 {
    transform: rotate(0deg);
    background-color: #59595F;
    /* Darker shade */
}

#s25 {
    transform: rotate(45deg);
    background-color: #71717A;
    /* Lighter shade */
}

#s35 {
    transform: rotate(90deg);
    background-color: #4D4D54;
    /* Darker, muted shade */
}

#s45 {
    transform: rotate(135deg);
    background-color: #7D7D87;
    /* Lighter, vibrant shade */
}

#s55 {
    transform: rotate(180deg);
    background-color: #53535B;
    /* Darker, cooler shade */
}

#s65 {
    transform: rotate(225deg);
    background-color: #85858F;
    /* Lighter, warmer shade */
}

#s75 {
    transform: rotate(270deg);
    background-color: #3F3F45;
    /* Much darker shade */
}

#s85 {
    transform: rotate(315deg);
    background-color: #9A9AA4;
    /* Much lighter shade */
}
