.secondPage-container{
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.secondPage-first-container{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.secondPage-first-container span{
    height: 100%;
    width: 33%;
    font-size: 3.6rem;
    color: var(--bodyBg);
    -webkit-text-stroke: 1px #000;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.secondPage-first-container p{
    font-size: 1rem;
    text-align: center;
    color: #000;
    -webkit-text-stroke: 0px;
}
.secondPage-second-container {
    width: 100%;
    height: 30%;
    font-size: 2.8rem;
    align-items: center;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
    padding: 2rem;
    text-align: center;
    flex-direction: column;
}
.secondPage-second-container p{
    padding: 0;
}
.secondPage-second-container span{
    color: var(--bodyBg);
    -webkit-text-stroke: 1.8px var(--grey);
    font-size: 3rem;
}
.secondPage-third-container{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    gap: 1rem; 
}
.secondContainer-title{
    width: 50%;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 3rem;
}
.secondPage-third-container .third-container-buttons{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    font-size: 1rem;
}
.secondPage-third-container .third-container-buttons span{
    height: 3rem;
    width: 10rem;
    color: var(--bodyBg);
    background-color: var(--grey);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}