.secondPage-container{
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}
.secondPage-first-container{
    height: 40%;
    width: 100%;
    background-color: red;
}